vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\MBenton
vti_modifiedby:SR|KCP\\MBenton
vti_timelastmodified:TR|27 Dec 2011 18:37:59 -0000
vti_timecreated:TR|20 Dec 2011 22:47:26 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1BB4E7A4-5052-4997-BFB9-766E609B9D07}
vti_backlinkinfo:VX|Maintenance/PartFilter.aspx
vti_nexttolasttimemodified:TW|21 Dec 2011 18:02:52 -0000
vti_cacheddtm:TX|27 Dec 2011 18:37:59 -0000
vti_filesize:IR|599
