vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\TNguyen
vti_modifiedby:SR|KCP\\TNguyen
vti_timelastmodified:TR|19 Apr 2012 13:29:20 -0000
vti_timecreated:TR|18 Apr 2012 21:51:43 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{263F7265-A3E0-47E6-AE4D-0B6195678B09}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|18 Apr 2012 21:52:14 -0000
vti_cacheddtm:TX|19 Apr 2012 13:29:20 -0000
vti_filesize:IR|3
