vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\RHill
vti_timelastmodified:TR|12 Dec 2012 16:52:02 -0000
vti_timecreated:TR|08 Oct 2010 17:26:56 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{31E0FCED-4971-43BF-BA8E-C318B206158C}
vti_backlinkinfo:VX|marketing/roomwizard.asp marketing/ExtendStay.aspx marketing/editUsage.aspx marketing/roomwizard1.aspx
vti_nexttolasttimemodified:TW|06 Oct 2011 19:02:53 -0000
vti_cacheddtm:TX|12 Dec 2012 16:52:02 -0000
vti_filesize:IR|3587
vti_cachedlinkinfo:VX|S|../images/OFF.gif S|../images/DIVIDER.gif S|../images/HOVER.gif S|../images/HOVER.gif S|../images/OFF.gif S|../images/DIVIDER.gif S|../images/HOVER.gif S|../images/HOVER.gif S|../images/OFF.gif S|../images/DIVIDER.gif S|../images/HOVER.gif S|../images/HOVER.gif
vti_cachedsvcrellinks:VX|FSUS|images/OFF.gif FSUS|images/DIVIDER.gif FSUS|images/HOVER.gif FSUS|images/HOVER.gif FSUS|images/OFF.gif FSUS|images/DIVIDER.gif FSUS|images/HOVER.gif FSUS|images/HOVER.gif FSUS|images/OFF.gif FSUS|images/DIVIDER.gif FSUS|images/HOVER.gif FSUS|images/HOVER.gif
