vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\RHill
vti_modifiedby:SR|KCP\\RHill
vti_timelastmodified:TR|09 Feb 2011 14:28:00 -0000
vti_timecreated:TR|09 Feb 2011 14:24:05 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{65B0F60C-B25B-4FBC-88F6-878036D2C4E6}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|09 Feb 2011 14:24:05 -0000
vti_cacheddtm:TX|09 Feb 2011 14:28:00 -0000
vti_filesize:IR|604
vti_cachedlinkinfo:VX|S|images/preload.gif
vti_cachedsvcrellinks:VX|NSUS|styles/images/preload.gif
