vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\TNguyen
vti_modifiedby:SR|KCP\\TNguyen
vti_timelastmodified:TR|22 May 2012 17:05:24 -0000
vti_timecreated:TR|21 May 2012 14:59:31 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{0B2E912C-1FD1-4372-946D-D0DAD4D08112}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|22 May 2012 13:14:22 -0000
vti_cacheddtm:TX|22 May 2012 17:05:24 -0000
vti_filesize:IR|3
