body 
{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

.welcome 
{
    font-size:10;
    float:right;
    margin-right:5px;
}

.logo 
{
    width:100%;
}

.logo img
{
    float:left;
    height:20px;
}

.menu
{
    float:left;
    position:relative;
    z-index:9;
    height:600px;
    padding-right:6px;
    padding-top:0px;
    border-right:thin solid black;
    margin-right:15px;
}


.main
{
    
}


ul#menu{
	margin:0;
	padding:0;
	list-style-type:none;
	width:890px;
	position:relative;
	display:block;
	height:36px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:url('../images/OFF.gif') repeat-x left top;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	border-bottom:4px solid #336666;
	border-top:1px solid #C0E2D4;
    top: 0px;
    left: -2px;
}
ul#menu li{
	display:block;
	float:left;
	margin:0;
	padding:0;
	}
	
ul#menu li a{
	display:block;
	float:left;
	color:#874B46;
	text-decoration:none;
	font-weight:bold;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url("../images/DIVIDER.gif") no-repeat top right;
	}
ul#menu li a:hover{
	background:transparent url("../images/HOVER.gif") no-repeat top right;	
	}
ul#menu li.current a{
    background:transparent url("../images/HOVER.gif") no-repeat top right;	
}

ul#menu2{
	margin:0;
	padding:0;
	list-style-type:none;
	width:400px;
	position:relative;
	display:block;
	height:36px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:url('../images/OFF.gif') repeat-x left top;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	border-bottom:4px solid #336666;
	border-top:1px solid #C0E2D4;
    top: 0px;
    left: -2px;
}
ul#menu2 li{
	display:block;
	float:left;
	margin:0;
	padding:0;
	}
	
ul#menu2 li a{
	display:block;
	float:left;
	color:#874B46;
	text-decoration:none;
	font-weight:bold;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url("../images/DIVIDER.gif") no-repeat top right;
	}
ul#menu2 li a:hover{
	background:transparent url("../images/HOVER.gif") no-repeat top right;	
	}
ul#menu2 li.current a{
    background:transparent url("../images/HOVER.gif") no-repeat top right;	
}

ul#leadmenu{
	margin:0;
	padding:0;
	list-style-type:none;
	width:464px;
	position:relative;
	display:block;
	height:36px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:url('../images/OFF.gif') repeat-x left top;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	border-bottom:4px solid #336666;
	border-top:1px solid #C0E2D4;
    top: 0px;
    left: 1px;
}
ul#leadmenu li{
	display:block;
	float:left;
	margin:0;
	padding:0;
	}
	
ul#leadmenu li a{
	display:block;
	float:left;
	color:#874B46;
	text-decoration:none;
	font-weight:bold;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url("../images/DIVIDER.gif") no-repeat top right;
	}
ul#leadmenu li a:hover{
	background:transparent url("../images/HOVER.gif") no-repeat top right;	
	}
ul#leadmenu li.current a{
    background:transparent url("../images/HOVER.gif") no-repeat top right;	
}

.SideGrid 
{
    height:125px;
    overflow:auto;
    width:500px;
    border:4px solid #336666;
}

.NarrowSideGrid
{
    height:125px;
    overflow:auto;
    width:400px;
    border:4px solid #336666;
}

.ListGrid
{
    height:300px;
    width:890px;
    overflow:auto;
}   

.text_box_currency 
{
    text-align:right;
    
}

