vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\RHill
vti_timelastmodified:TR|21 May 2013 15:33:35 -0000
vti_timecreated:TR|07 Oct 2010 16:25:45 -0000
vti_lineageid:SR|{CDB56C8D-F020-4A98-8268-9017A5A6BA7D}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|11 Dec 2012 21:01:13 -0000
vti_modifiedby:SR|KCP\\TNguyen
vti_cacheddtm:TX|11 Dec 2012 21:01:13 -0000
vti_filesize:IR|3681
