vti_encoding:SR|utf8-nl
vti_author:SR|KCP\\RHill
vti_modifiedby:SR|KCP\\RHill
vti_timelastmodified:TR|03 Apr 2012 22:49:44 -0000
vti_timecreated:TR|03 Apr 2012 22:42:43 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{EC4A25D3-76BC-440D-A606-66041DE44679}
vti_backlinkinfo:VX|label.asp
vti_nexttolasttimemodified:TW|03 Apr 2012 22:49:30 -0000
vti_cacheddtm:TX|03 Apr 2012 22:49:44 -0000
vti_filesize:IR|814
